table
{
	width: 95%;
	display: block;
	margin: auto;
}

img
{

	display: block;
	margin: 10px auto 0 auto;
	border-radius: 10px 10px 0px 0px;
	object-fit: cover;
	max-width: 100%;
}

figcaption
{
	text-align: center;
}

p, div
{
	margin-top: 10px;
	margin-bottom: 10px;
}


figcaption
{
	background-color: rgba(207, 77, 174, .5);
	padding: .05em .05em;
	border-radius: 2px;
	border: 1px solid rgb(255, 0, 255);
	color: white;
	border-left: 3px solid rgb(255, 0, 255);
	border-right: 3px solid rgb(255, 0, 255);
	font-size: 16px;
}
 
a
{
	color: lime;
}

del
{
	text-decoration:line-through;
	color: red;
}