pre {
	background: rgb(54, 46, 46);
	border: 1px solid #ddd;
	border-left: 3px solid #f36d33;
	color: #666;
	page-break-inside: avoid;
	font: normal normal 14px/16px "Courier New", Courier, Monospace;
	line-height: 1.0;
	margin-bottom: 1.6em;
	max-width: 100%;
	padding: .5em 1em;
	display: block;
	word-wrap: break-word;

	margin-left: 30px;
	overflow: auto;
	overflow-x: auto;
	white-space: pre-wrap;
	counter-reset: line;
}

pre:hover, pre:focus {
	/* what ever action */
	/* this is just example */
	border-left: 3px solid rgb(255, 255, 0);
	;
}