<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="/images/favicon.png">
  $for(page.resources.css)$
  <link rel="stylesheet" href="$page.resources.css$" />
  $endfor$
  <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
</head>
<body>
  <svg id="clip-paths" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g></g></svg>
  <div id="page">
    <div>
    <header>
      <div id="header-content">
        <div id="header-logo">
          <svg id="logo" width="80" height="80" viewBox="0 0 160 160" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet">
            <g>
             <title>background</title>
             <rect fill="#ffffff" id="canvas_background" height="162" width="162" y="-1" x="-1"/>
            </g>
            <g>
             <title>Layer 1</title>
             <g id="svg_1" transform="translate(0.000000,160.000000) scale(0.100000,-0.100000)">
              <path id="svg_2" d="m0,800l0,-800l800,0l800,0l0,800l0,800l-800,0l-800,0l0,-800zm1410,470l0,-60l-670,0l-670,0l0,60l0,60l670,0l670,0l0,-60zm0,-182c-1,-7 -54,-146 -119,-308l-118,-295l-66,-3c-64,-3 -77,3 -59,24c5,5 60,138 122,296l114,287l55,4c31,2 59,4 64,5c4,1 7,-4 7,-10zm-980,-183l0,-185l-120,0l-120,0l0,185l0,185l120,0l120,0l0,-185zm500,180c0,-3 -6,-16 -14,-28c-7,-12 -62,-147 -122,-299l-109,-278l-67,0c-60,0 -84,9 -60,24c4,2 59,135 122,295l115,291l68,0c37,0 67,-2 67,-5zm-500,-545l0,-60l-120,0l-120,0l0,60l0,60l120,0l120,0l0,-60zm1100,-250l0,-60l-670,0l-670,0l0,60l0,60l670,0l670,0l0,-60z"/>
             </g>
            </g>
           </svg>
        </div>
        <h1>$if(page.contents.contacts.name)$$page.contents.contacts.name$$endif$</h1>
        <p>$if(page.contents.contacts.shortdescription)$$page.contents.contacts.shortdescription$$endif$</p>
        <div id="contact">
          <a href="mailto:$if(page.contents.contacts.email)$$page.contents.contacts.email$$endif$" id="email"><svg viewBox="0 0 42 36" xmlns="http://www.w3.org/2000/svg"><path d="M3.025 5.255A1.99 1.99 0 0 1 4.003 5h33.994c.354 0 .688.093.977.256L21 18.5 3.025 5.255zm-1.002 1.45c-.015.098-.023.2-.023.302V18.28v-5.636 17.35C2 31.1 2.902 32 4.003 32h33.994A2.005 2.005 0 0 0 40 29.993v-17.35 5.638V7.008c0-.103-.008-.204-.023-.303L21 20.687 2.023 6.704z"/></svg></a>
        </div>
      </div>
    </header>

    <div id="content">
      <section id="introduction">
        <h1>Intro</h1>
        $for(page.contents.introduction)$
        $page.contents.introduction$<br>
        $endfor$
      </section>
      <section id="articles">
        <h1>Articles</h1>
        <ul>
          $for(page.contents.articles)$
          <li><a href="$page.contents.articles.link$">$page.contents.articles.title$</a></li>
          $endfor$
        </ul>
      </section>
      <section id="aboutme">
        <h1>About Me</h1>
        <ul>
          $for(page.contents.aboutme)$
          <li><a href="$page.contents.aboutme.link$">$page.contents.aboutme.title$</a></li>
          $endfor$
        </ul>
      </section>
      <section id="repositories">
        <h1>Repos</h1>
        <ul>
          $for(page.contents.repos)$
          <li><a href="$page.contents.repos.link$">$page.contents.repos.title$</a></li>
          $endfor$
        </ul>
      </section>
      <section id="partners">
        <h1>Partners</h1>
        <div class="row">
          $for(page.contents.partners)$
          <div class="column">
            <img src="$page.contents.partners$" width="128px"/>
          </div>
          $endfor$
        </div>
      </section>
      </div>

      
    </div>
    </div>
  </div>
  <svg id="page-stripes" class="full-size" width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
  <div id="intro" class="full-size">
    <div id="logo-container" class="full-size">
      <svg id="logo" width="80" height="80" viewBox="0 0 160 160" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet">
        <g>
         <title>background</title>
         <rect fill="#ffffff" id="canvas_background" height="162" width="162" y="-1" x="-1"/>
        </g>
        <g>
         <title>Layer 1</title>
         <g id="svg_1" transform="translate(0.000000,160.000000) scale(0.100000,-0.100000)">
          <path id="svg_2" d="m0,800l0,-800l800,0l800,0l0,800l0,800l-800,0l-800,0l0,-800zm1410,470l0,-60l-670,0l-670,0l0,60l0,60l670,0l670,0l0,-60zm0,-182c-1,-7 -54,-146 -119,-308l-118,-295l-66,-3c-64,-3 -77,3 -59,24c5,5 60,138 122,296l114,287l55,4c31,2 59,4 64,5c4,1 7,-4 7,-10zm-980,-183l0,-185l-120,0l-120,0l0,185l0,185l120,0l120,0l0,-185zm500,180c0,-3 -6,-16 -14,-28c-7,-12 -62,-147 -122,-299l-109,-278l-67,0c-60,0 -84,9 -60,24c4,2 59,135 122,295l115,291l68,0c37,0 67,-2 67,-5zm-500,-545l0,-60l-120,0l-120,0l0,60l0,60l120,0l120,0l0,-60zm1100,-250l0,-60l-670,0l-670,0l0,60l0,60l670,0l670,0l0,-60z"/>
         </g>
        </g>
       </svg>
    </div>
    <svg id="stripes" class="full-size" width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"></svg>
  </div>
  $for(page.resources.js)$
  <script src="$page.resources.js$"></script>
  $endfor$
</body>
</html>